@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/*Reset minimale*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: rgb(243, 243, 238);
}

body section {
    background-color: #ffffff;
}

body p {
    font-family: "Marriweather";
}

main {
    max-width: 75%;
    margin: 0 auto;
    padding: 0px 20px 40px;
    margin-top: -30px;
}

/*Padding: TOP RIGHT BOOM LEFT*/
/*Pattern classici: 
border-bottom sotto un titolo (sottolineatura)
border-left: spesso per le citazioni*/

main section {
    padding: 32px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0.08);
}

/*box-shadow (box-text, uguale ma senza valore spread)
offset-x | offset-y | blur | spread | colore
sposta orizz/vert, sfoca, allarga, colora. inset porta l'ombra*/

main section h2::before {
    font-family: "bootstrap-icons";
    content: "\F6A9  ";
    color: rgb(238, 168, 5);
}

#site-header {
    background-color: hsl(0, 0%, 80%);
    background-image: url(https://i.guim.co.uk/img/media/18e0b02b77238d312812c835c23144cc63baa86a/0_0_923_554/master/923.jpg?width=980&dpr=1&s=none&crop=none);
    background-size: cover;
    background-position: center;
    color: #ad1304;
    text-align: center;
    padding: 60px 20px 0;
    border-bottom: 4px solid rgb(238, 168, 5);
}

#site-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

.tagline {
    color: rgb(238, 135, 18);
    font-family: "Roboto";
    font-weight: bold;
}


main h2 {
    font-size: 1.8rem;
    color: hsla(0, 96%, 19%, 0.784);
    text-align: start;
}

main h3 {
    font-size: 1.5rem;
    color: hsla(0, 96%, 19%, 0.784);
    text-align: start;
}

/*NAV*/

#site-header h1,
#site-header nav a,
.tagline {
    text-shadow: 0 2px 4px rgba(0, 0, 0.2);
}

#site-header nav a {
    color: rgb(238, 199, 4);
    font-weight: bold;
    line-height: 3;
    padding: 10px 16px 9px;
    margin: 0 4px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
    border: 1px solid rgb(238, 199, 4);
    border-bottom: 0;
}

#site-header nav ul {
    list-style: none;
    padding: 0;
}

#site-header nav li {
    display: inline-block;
}

nav i {
    display: inline-block;
    padding: 5px;
}

#site-header ul li:hover,
#site-header nav a:hover {
    color: hsla(0, 96%, 19%, 0.784);
}

#site-header nav a:hover {
    background-color: rgb(238, 168, 5);
    border: 0;
    text-shadow: none;
}

/*FINE NAV*/

#chi-sono {
    text-align: justify;
}

.avatar {
    width: 110px;
    height: 110px;
    border: 4px solid rgb(238, 168, 5);
    border-radius: 50%;
    float: left;
    margin: 0 24px 12px 0;
}

#chi-sono p:first-of-type {
    font-size: 1.1rem;
    color: darkslategray;
}

#chi-sono p:last-child {
    font-style: italic;
}

#chi-sono p:first-of-type::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    margin-right: 6px;
    color: hsla(0, 96%, 19%, 0.784);
}

#competenze {
    clear: both;
}

.project:nth-last-of-type(odd) {
    background-color: hsla(0, 38%, 50%, 0.057);
    border-left: 4px solid hsla(0, 96%, 19%, 0.784);
}

.project:nth-last-of-type(even) {
    background-color: hsla(0, 32%, 86%, 0.372);
    border-left: 4px solid rgb(238, 168, 5);
}

.project {
    border-radius: 8px;
}

.project:hover {
    box-shadow: 0 2px 6px rgb(164, 3, 3);
}

.project:nth-last-of-type(even):hover {
    box-shadow: 0 2px 6px rgb(238, 168, 5)
}

.project p,
a {
    margin: 10px;
    padding: 5px 10px;
}

.project h3 {
    font-size: 1.2rem;
    margin: 20px 10px 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#progetti a {
    text-decoration: none;
    padding-bottom: 0;
}

#progetti a::before {
    font-family: "bootstrap-icons";
    content: "\F3ED  ";
}

#progetti a:hover {
    color: hsl(0, 98%, 32%);
    border-bottom: 2px solid rgb(238, 168, 5);
}

#progetti a:focus {
    color: none;
    pointer-events: none;
}

.project .project:first-of-type h3::after {
    content: "NEW";
    display: inline-block;
    padding: 6px 8px;
    margin-left: 12px;
    background-color: rgb(238, 135, 18);
    color: #ffffff;
    border-radius: 3px;
    font-size: 1rem;
}

.go-project {
    margin-left: auto;
    margin-right: 0;
    margin-top: 5px;
    width: max-content;
    border-bottom: 1px solid rgb(238, 168, 5);
    font-size: 0.8rem;
}

.go-project a,
.project a {
    text-decoration: none;
    font-family: "Roboto";
    color: hsla(0, 96%, 19%, 0.784);
}

input::placeholder,
textarea::placeholder {
    color: #999999;
    font-style: italic;
}

form label {
    font-weight: bold;
    color: hsla(0, 96%, 19%, 0.784);
}

form input,
textarea,
select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 100%;
    background-color: beige;
    border-radius: 4px;
}


input:focus,
textarea:focus select:focus {
    background-color: whitesmoke;
    color: darkred;
}

button {
    color: white;
    background-color: hsl(0, 98%, 32%);
    font-weight: bold;
    width: 30%;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1);
}

button:hover {
    color: white;
    background-color: hsl(0, 98%, 38%);
}

#contact-permission {
    width: auto;
}

/*Skill List*/
.skill-list table {
    width: 100%;
}

.skill-list thead h5 {
    padding: 7px;
    border-bottom: 1px solid hsla(0, 38%, 50%, 0.201);
}

.skill-list thead {
    background-color: hsla(0, 38%, 50%, 0.24);
}

.skill-list thead,
.skill-list td,
.skill-list tr {
    border-collapse: collapse;
    border-bottom: 1px solid hsla(0, 38%, 50%, 0.201);
    border-left: 0;
    border-right: 0;
    padding: 5px;
}

.skill-list caption {
    margin: 0;
    font-size: 0.8rem;
}

.skill-list th,
.skill-list caption {
    text-align: left;
}

.skill-list p,
.skill-list h5 {
    color: hsla(0, 96%, 19%, 0.784);
    margin: 0;
    font-family: "Roboto";
}

.skill-list p {
    font-size: 0.8rem;
    color: gray;
}

.level {
    width: 60.5vh;
    height: 0.8rem;
    background-color: hsla(0, 38%, 50%, 0.24);
    border-radius: 20px;
    margin: 4px 5px 30px;
}

#barra1 {
    width: 90%;
    height: 0.8rem;
    background-color: rgb(238, 168, 5);
    border-radius: 20px;
}

#barra2 {
    width: 85%;
    height: 0.8rem;
    background-color: rgb(238, 168, 5);
    border-radius: 20px;
}

#barra3 {
    width: 95%;
    height: 0.8rem;
    background-color: rgb(238, 168, 5);
    border-radius: 20px;
}

#barra4 {
    width: 70%;
    height: 0.8rem;
    background-color: rgb(238, 168, 5);
    border-radius: 20px;
}

#barra5 {
    width: 40%;
    height: 0.8rem;
    background-color: rgb(238, 168, 5);
    border-radius: 20px;
}

#esperienze table {
    border-collapse: collapse;
    width: 100%;
}

#esperienze thead {
    background-color: hsla(0, 38%, 50%, 0.24);
}

#esperienze thead,
#esperienze td,
#esperienze tr {
    border-collapse: collapse;
    border-bottom: 1px solid hsla(0, 38%, 50%, 0.201);
    border-left: 0;
    border-right: 0;
    padding: 5px;
}

#esperienze caption {
    text-align: left;
    margin: 0;
    font-size: 0.8rem;
    color: hsla(0, 96%, 19%, 0.784);
}

#esperienze th,
#esperienze td {
    color: hsla(0, 96%, 19%, 0.784);
    margin: 0;
    font-family: "Roboto";
}

#site-footer {
    background-color: hsla(0, 96%, 19%, 0.784);
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
}